<h1>Listing questions</h1>

<% for question in @questions %>
	<%= question.text %> <br/>    
	<%= image_tag("#{question.title_label}", :alt => "#{question.text}", :title => "#{question.text}") %> <br/>	
	<% if(question.qtype == "options" or question.qtype == "list") %>
		<%= render :partial => "option", :collection => question.options, :locals => {:edit => false}  %>
	<% end %>	
	<%= link_to "show", question_path(question) %> | 
	<%= link_to "edit", edit_question_path(question) %>
	<hr/>
<% end %>
