<p>
  <b>Text:</b>
  <%=h @question.text %>
</p>

<p>
  <b>Qtype:</b>
  <%=h @question.qtype %>
</p>

<p>
  <b>Census:</b>
  <%=h @question.census_id %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
