<%= GMap.header %>
<%= show_maps Survey.find_public %>
<%= javascript_include_tag  'mapping_helpers'  %>
<%= javascript_include_tag  'HtmlControl'      %>
<%= javascript_include_tag  'clusterer'        %>
<%# javascript_include_tag  'EBubble'        %>

<p>
  <table>
    <tr><td>      
    	<% if session[:current_survey].nil? %>
    		<%= link_to image_label_no_mouseover("/images/text/take_the_survey.png"), new_survey_path %>
    	<% else %>	
      	<%= link_to image_label_no_mouseover("/images/text/survey_in_progress.png"), stages_path %>
    	<% end %>
    </td><td width="100px"></td><td valign="top">
    	<%= link_to image_label_no_mouseover("/images/text/nominate_a_farmer.png"),
    	    new_nomination_path %>
    </td></tr>
  </table>
</p>

<br/><br/>
<div>
<img width="700" src="/images/text/its_a_website.png" alt="Its a website, its a portal, its a map, its a database, its an expression of profound patriotism. Here, represented by little dots on this map. We are the young farmers of America." />
</div>

<% content_for(:map) do %>
  <div class="mainmap"><%= @map.div :width => 930, :height => 600 %></div> 
<% end %>

<% content_for(:lower_half) do %>
  <div>
<img width="700" src="/images/text/united_in_our_commitment.png" alt="United in our commitment to soil fertility, local nutrition, national health and a yummy hereafter. Land. Liberty. Stamina. Sunshine. These are the natural ingredients for an edible future." />
  </div>   
<% end %>

<% content_for(:footer) do %>
	<%= textilize h(Page.find_by_permalink('sponsors').content) %>
<% end %>
