<%= GMap.header %>
<%= show_maps Survey.find(:all)  %>
<%= javascript_include_tag 'mapping_helpers' %>
<%= javascript_include_tag 'HtmlControl' %>

<p>
  <table>
    <tr><td>

    	<% if session[:current_survey].nil? %>
    		<%= link_to image_label_mouseover("/images/text/center/Take_the_Survey.png"), url_for(Stage.find(:first)) %>
    	<% else %>	
      	<%= link_to image_label_no_mouseover("/images/text/survey_in_progress.png"), stages_path %>
    	<% end %>

    </td><td width="100px"></td><td valign="top">

    	<%= link_to image_label_no_mouseover("/images/text/nominate_a_farmer.png"), new_nomination_path %>

    </td></tr>
  </table>
</p>

<div>
  Its a website, its a portal, its a map, its a database, its an expression of profound patriotism.
  Here, represented by little dots on this map. We are the young farmers of America.  
</div>

<% content_for(:map) do %>
  <div class="mainmap"><%= @map.div :width => 930, :height => 600 %></div> 
<% end %>

<% content_for(:lower_half) do %>
  <div>
    United in our commitment to soil fertility, local nutrition, national health and a yummy hereafter.
    Land. Liberty. Stamina. Sunshine. These are the natural ingredients for an edible future.
  </div>   
<% end %>

<% content_for(:footer) do %>
	<%= textilize h(Page.find_by_permalink('sponsors').content) %>
<% end %>
