<%= GMap.header %>
<%= show_maps Survey.find(:all)  %>
<%= javascript_include_tag 'mapping_helpers' %>

<% if session[:current_survey].nil? %>
	<p><%= link_to image_label_mouseover("/images/text/center/Take_the_Survey.png"), stages_path %></p>
<% else %>	
	<p> 
	  <%= image_label_no_mouseover("/images/text/Survey_in_progress.png") %> 
		<%= link_to image_label_mouseover("/images/text/Please_Continue.png"), stages_path %>
	</p>
<% end %>

<p><%= link_to image_label_mouseover("/images/text/Nominate_a_Farmer.png"), new_nomination_path %></p>

<% content_for(:map) do %>
  <div class="mainmap"><%= @map.div :width => 750, :height => 600 %></div> 
<% end %>


<% content_for(:footer) do %>
  <p>The Greenhorns would like to thank Organic Valley for their generous sponsorhisp of Serve Your Country Food.</p>
	<%= textilize h(Page.find_by_permalink('sponsors').content) %>
<% end %>