<%= GMap.header %>
<%= show_maps @public_surveys %>
<%= javascript_include_tag  'mapping_helpers'  %>
<%= javascript_include_tag  'HtmlControl'      %>
<%= javascript_include_tag  'clusterer'        %>
<%# javascript_include_tag  'EBubble'        %>

<% content_for(:map) do %>
  <div class="mainmap"><%= @map.div :width => 930, :height => 600 %></div></div> 

  <center><img src="/images/circle_green_12.png" />farmer owns land&nbsp;&nbsp;&nbsp;<img src="/images/circle_red_12.png" />farmer doesn't own land</center>

  <div><center>
    <img width="700" src="/images/text/its_a_website.png" alt="Its a website, its a portal, its a map, its a database, its an expression of profound patriotism. Here, represented by little dots on this map. We are the young farmers of America." />
  </center></div>
<% end %>

<p>
  <table>
    <tr><td>      
    	<% if session[:current_survey].nil? %>
    		<%= link_to image_label_no_mouseover("/images/text/take_the_survey.png"), new_survey_path %>
    	<% else %>	
      	<%= link_to image_label_no_mouseover("/images/text/survey_in_progress.png"), stages_path %>
    	<% end %>
    </td><td width="100px"></td><td valign="top">
    	<%= link_to image_label_no_mouseover("/images/text/nominate_a_farmer.png"),
    	    new_nomination_path %>
    </td></tr>
  </table>
</p>

<% content_for(:lower_half) do %>
  <div>
<img width="700" src="/images/text/united_in_our_commitment.png" alt="United in our commitment to soil fertility, local nutrition, national health and a yummy hereafter. Land. Liberty. Stamina. Sunshine. These are the natural ingredients for an edible future." />
  </div>   
<% end %>

<% content_for(:footer) do %> 
  <%= render :partial => "layouts/donations" %>
	<p>
	  The Greenhorns would like to thank Organic Valley for their generous sponsorship of <strong>Serve Your Country Food</strong>
	</p>
  <p>
    <img src="http://www.organicvalley.coop/fileadmin/templates/images/logos/ov_logo01.gif" alt="" />
  </p>
<% end %>
