
%ul
  %li= link_to "Surveys", surveys_path
  %li= link_to "Nominations", nominations_path
  %li= link_to "Farmers", farmers_path
  %li= link_to "Farms", "farms_path"

%p Recent Surveys
  -Survey.recent.each do |survey|
    = link_to "Survey by #{survey.farmer_name} from  #{survey.farm_name}", survey_path(survey) %br /
    
%p Recent Nominations
%p Recent Farmers
%p Recent Farms
%p Public Farmer Profiles
%p Private Farmer Profiles
%p Farmers Contacted
%p Farmers Not Yet Contacted  
