
%ul
  %li= link_to "Surveys", surveys_path
  %li= link_to "Nominations", nominations_path
  %li= link_to "Farmers", farmers_path
  %li= link_to "Farms", "farms_path"

%p Recent Surveys
- Survey.recent.each do |s|
  = link_to "Survey by #{s.farmer_name} from  #{s.farm_name}", survey_path(s) 
  %br
    
%p Recent Nominations
%p Recent Farmers
%p Recent Farms
%p Public Farmer Profiles
%p Private Farmer Profiles
%p Farmers Contacted
%p Farmers Not Yet Contacted  
