

%p Recent Surveys
- Survey.recent.each do |s|
  = link_to "Survey by #{s.farmer_name} from  #{s.farm_name}", survey_path(s) 
  %br
    
%p Recent Nominations
- Nomination.recent.each do |n|
  = link_to "Nomination of #{n.first_name} by #{n.your_name}", nomination_path(n) 
  %br

%p Public Farmer Profiles
%p Private Farmer Profiles
%p Farmers Contacted
%p Farmers Not Contacted  
