<h2>Editing page</h2>
<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 40 %>
  </p>    
  
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink, :size => 40 %>
  </p>

  <p>
    <%= f.label :content %> 
    <em><small>(Formating Help 
                <%= link_to "Textile", "http://textism.com/tools/textile/", 
                      :popup => true %>)</small></em><br />
    <%= f.text_area :content, :cols => 60, :rows => 20 %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Index', pages_path %>
