<p class='nextbutton'><%= link_to 'Create a new page', new_page_path %></p>

<h2>Existing Pages</h2> <br/> <hr>     

<% for page in @pages %>
	<h3><%=h page.name %></h3> 
	
	<b>Permalink:</b> <%=h page.permalink %> <br/>
	<b>Content:</b> <%=h truncate(page.content, 100, "...") %> <br/>
  <%= link_to 'Show', page %> | 
	<%= link_to 'Edit', edit_page_path(page) %> | 
	<%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %> 
	<p/>
	<hr/>
<% end %>

