<h1>Editing farmer</h1>

<% form_for(@farmer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </p>
  <p>
    <%= f.label :referring_party %><br />
    <%= f.text_field :referring_party %>
  </p>
  <p>
    <%= f.label :referee_contact %><br />
    <%= f.text_field :referee_contact %>
  </p>
  <p>
    <%= f.label :farm_id %><br />
    <%= f.text_field :farm_id %>
  </p>
  <p>
    <%= f.label :survey_id %><br />
    <%= f.text_field :survey_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @farmer %> |
<%= link_to 'Back', farmers_path %>
