<p>
	<%=h question.text %><br />		
	<% if question.qtype == "text_field" %>
  	<%= text_field_tag "answer_#{question.id}" %><br />
	<% elsif question.qtype == "text_area" %>
  	<%= text_area_tag "answer_#{question.id}" %><br />		
	<% elsif question.qtype == "yes_no" %>
		<%= radio_button "answer_#{question.id}", "", "" %> Yes<br />
		<%= radio_button "answer_#{question.id}", "", "" %> No<br />
	<% elsif question.qtype == "options" %>
		<% for option in question.list.split("|") %>
			<%= radio_button_tag "answer_#{question.id}", "", "" %> <%= "#{option}" %><br />
		<% end %>
	<% elsif question.qtype == "list" %>
		<% for option in question.list.split("|") %>
			<%= check_box_tag "answer_#{question.id}", "", "" %> <%= "#{option}" %><br />
		<% end %>
	<% end %>
</p>