<% fields_for "survey[answer_attributes][]", answer do |answer_form| -%>

  <%- if answer.question.text == "languages spoken" -%>
  	<%= render :partial => "address" %>
  <%- end -%>

	<%- unless answer.question.qtype == "hidden_field" %>
		<%= image_tag("#{answer.question.title_label}", :alt => "#{answer.question.text}", :title => "#{answer.question.text}", :class => "question") %>
    <%= new_line_for_address(answer.question.text) %>  
	<%- end -%>

  <%- if ["text_field", "text_area", "hidden_field"].include?(answer.question.qtype) -%>
    <%= answer_form.send("#{answer.question.qtype}", :text, :id => "#{answer.question.text}", :rows => 3) %>
  <%- elsif answer.question.qtype == "numeric_field" -%>
    <%= answer_form.send("text_field", :text, :id => "#{answer.question.text}", :size => 6) %>
  <%- elsif answer.question.qtype == "list"  -%>
    <%- for option in answer.question.options -%>
			<table><tr><td valign="middle">
			 <%= check_box_tag( "survey[answer_attributes][#{answer.id}][option_ids][]", 
										option.id, answer.options.include?(option), :id => option.text  ) %>
			</td><td>&nbsp;&nbsp;&nbsp;<td> 
						<%= image_tag "#{option.filename}", :alt => "#{option.text}" %> <br/>
			</td></tr></table>
    <%- end -%>
  <%- elsif answer.question.qtype == "options" or answer.question.qtype == "yes_no" -%>
  	<%- for option in answer.question.options -%>
			 <%= radio_button_tag( "survey[answer_attributes][#{answer.id}][option_ids][]", 
										option.id, answer.options.include?(option), :id => option.text ) %> 
						<%= image_tag "#{option.filename}", :alt => "#{option.text}" %> <br/>
    <%- end -%>
	<%- end -%>      
	
  <%= new_line_for_address(answer.question.text) %>  

<% end -%>
<%= new_line_for_address(answer.question.text) %>
