<h1>Editing stage</h1>

<% form_for(@stage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @stage %> |
<%= link_to 'Back', stages_path %>
