<h1>Census Stages</h1>

	<% content_for :sidebar do -%>
		<div id="images">
			<% show_avatars do |image| %>
				<%= image_tag "#{image}" %>
			<% end %>
		</div>		
		<% form_for( @avatar, :url => addavatar_path(), 
			:html => {:multipart => true, :id => 'avatar' }  )do |f| -%>
			<p><%= f.file_field :uploaded_data, "size" => 10 %></p>
			<p>Upload images of yourself and your farm and put your face on the map!</p>
			<p><%= submit_tag 'Upload' %></p>
		<% end -%>
	<%- end -%>
	
<table>
  <tr>
    <th>Stage Number</th>
    <th>Stage Name</th>
    <th>Completed</th>
  </tr>

<% for stage in @stages %>
  <tr>
    <td><%= link_to "Stage: #{stage.id}", stage %></td>
    <td><%=h stage.title %></td>
    <td><%=h stage.percent_completed(session[:current_survey]) %></td>
  </tr>
<% end %>
</table>

<% if @current_survey.percentage_completed >= 70 %>
	 <%= link_to "Thank you... check out our map", :action => "done" %>
<% elsif @current_survey.percentage_completed >= 60 %>
	Thank you... you are almost there, try to answer just a few questions and you will be on your way!
<% end %>