<h1>Listing nominations</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Farm name</th>
    <th>Email</th>
    <th>Known as</th>
    <th>Title</th>
    <th>Address</th>
    <th>Telephone no</th>
    <th>Date of birth</th>
    <th>Nominees profile</th>
    <th>Nominees contributions</th>
    <th>Your name</th>
    <th>Your email</th>
    <th>Your contact details</th>
  </tr>

<% for nomination in @nominations %>
  <tr>
    <td><%=h nomination.first_name %></td>
    <td><%=h nomination.last_name %></td>
    <td><%=h nomination.farm_name %></td>
    <td><%=h nomination.email %></td>
    <td><%=h nomination.known_as %></td>
    <td><%=h nomination.title %></td>
    <td><%=h nomination.address %></td>
    <td><%=h nomination.telephone_no %></td>
    <td><%=h nomination.date_of_birth %></td>
    <td><%=h nomination.nominees_profile %></td>
    <td><%=h nomination.nominees_contributions %></td>
    <td><%=h nomination.your_name %></td>
    <td><%=h nomination.your_email %></td>
    <td><%=h nomination.your_contact_details %></td>
    <td><%= link_to 'Show', nomination %></td>
    <td><%= link_to 'Edit', edit_nomination_path(nomination) %></td>
    <td><%= link_to 'Destroy', nomination, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New nomination', new_nomination_path %>
