<%= image_label("New_Nomination") %>

<% form_for(@nomination) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= image_label "name" %>
    <%= f.text_field :full_name %>     
  </p>
  <p>
    <%= image_label "name_of_farm" %>
    <%= f.text_field :farm_name %>
  </p>
  <p>
    <%= image_label "email" %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= image_label "title" %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= image_label "address" %>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= image_label "telephone2" %>
    <%= f.text_field :telephone_no, :size => 30  %>
  </p>
  <p>
    <%= image_label "date_of_birth" %>
    <%= f.text_field :date_of_birth_str %>
  </p>
  <p>
    <%= image_label "Nominees_profile" %>
    <%= f.text_area :nominees_profile %>
  </p>
  <p>
    <%= image_label "Nominees_contributions" %>
    <%= f.text_area :nominees_contributions %>
  </p>
  <p>
    <%= image_label "Your_name" %>
    <%= f.text_field :your_name %>
  </p>
  <p>
    <%= image_label "Your_email" %>
    <%= f.text_field :your_email %>
  </p>
  <p>
    <%= image_label "Your_contact_details" %>
    <%= f.text_field :your_contact_details %>
  </p>
  <p>
    <%= image_submit_tag("labels/Nominate.png") %>
  </p>
<% end %>

<%= link_to 'Back', nominations_path %>
