<%= image_label("New_Nomination") %>

<% form_for(@nomination) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label image_tag("/images/labels/name.png") %><br />
    <%= f.text_field :full_name %>     
  </p>
  <p>
    <%= image_label "name_of_farm" %><br />
    <%= f.text_field :farm_name %>
  </p>
  <p>
    <%= image_label "email" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= image_label "title" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= image_label "address" %><br />
    <%= f.text_area :address %>
  </p>
  <p>
    <%= image_label "telephone2" %><br />
    <%= f.text_field :telephone_no %>
  </p>
  <p>
    <%= image_label "date_of_birth" %><br />
    <%= f.text_field :date_of_birth_str %>
  </p>
  <p>
    <%= image_label :nominees_profile %><br />
    <%= f.text_area :nominees_profile %>
  </p>
  <p>
    <%= image_label :nominees_contributions %><br />
    <%= f.text_area :nominees_contributions %>
  </p>
  <p>
    <%= image_label :your_name %><br />
    <%= f.text_field :your_name %>
  </p>
  <p>
    <%= image_label :your_email %><br />
    <%= f.text_field :your_email %>
  </p>
  <p>
    <%= image_label :your_contact_details %><br />
    <%= f.text_field :your_contact_details %>
  </p>
  <p>
    <%= image_submit_tag("labels/Nominate.png") %>
  </p>
<% end %>

<%= link_to 'Back', nominations_path %>
