!!!
%html{ :lang => "en"}
  %head
    %title Admin Dashboard
    = stylesheet_link_tag 'admin'
  %body
    #banner
      %h1 Admin Dashboard
      
    #container

      #container2
        #navigation
          %ul
            %li= link_to "Pages", pages_path
            %li= link_to "Surveys", surveys_path
            %li= link_to "Nominations", nominations_path
            %li= link_to "Farmers", farmers_path
            %li= link_to "Farms", "farms_path"
        #more
          %h3 Find out more
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
        #content
          %h2 Heading here
          %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh 
          %p.nextbutton= link_to "Back", :action => "index"
          =yield
        #cleardiv"

      #footer
        %ul
          %li= link_to "Footer item 1", "#"
          %li= link_to "Footer item 2", "#"
          %li= link_to "Footer item 3", "#"
          %li= link_to "Copyright &copy; sitename", "#"
