<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Serve your country food - <%= yield(:title) || "Greenhorns" %></title>
  <%= stylesheet_link_tag 'reset-fonts-grids' %>
	<%= stylesheet_link_tag 'styles' %>			
	<%= javascript_include_tag :defaults %>	
	<%= yield(:head) %>
</head>
<body>
  <script src="http://serveyourcountryfood.uservoice.com/pages/general/widgets/tab.js?alignment=left&amp;color=6644FF" type="text/javascript"></script>

<div id="doc2" class="yui-t2">

  <div id="hd" class="header">
		<%= link_to image_label_no_mouseover("center/serve_your_country_food_2.jpg"), home_path %>  
    <%= image_tag("center/farm_tools.png") %> 
	  <%#= image_tag("hr_gray_875x25.png") %>
	</div> <!-- hd end -->

  <div id="bd">
    <div class="yui-g navigation">
     	<%= link_to image_label_no_mouseover("text/home.png"), home_path %> 
			<% Page.find(:all).each do |page| %>
				<%= image_tag("text/pipe.png", :alt => "|") %>
			  <%= link_to (page.label ? image_label_no_mouseover(page.label) : page.permalink), static_path(page.permalink) %>
			<% end %>
    </div> <!-- yui-g navigation end -->

    <div class="yui-g middle">
      <% [:error, :warning, :notice].each do |level|
          if flash[level] -%>
            <div class="flash <%= level.to_s -%>"><%= flash[level] -%></div>
        <% end -%>
      <% end -%>
	 			<div id="content"><%= yield %></div> 			
    </div>  <!-- yui-g -->

    <div class="yui-g">
      <%= yield(:map) %>
    </div> <!-- yui-g -->    

    <div class="yui-g middle">
      <div id="content"><%= yield(:lower_half) %></div>      
    </div>  
    
	  <div id="ft"> 
			<div class="yui-g footer">
				<div class ='sidebar'>
					<%= yield(:footer ) || render(:partial => "/layouts/default_sidebar_content") %> 
				A project of <%= link_to "the greenhorns", 'http://thegreenhorns.net/' %>				
				</div> <!-- sidebar end -->	    	

			</div>
		</div> <!-- ft end -->
		
 	</div> <!-- bd end -->     

</div> <!-- doc2 end -->
</body>
</html>
