<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Serve your country food - <%= yield(:title) || "Greenhorns" %></title>
  <%= stylesheet_link_tag 'reset-fonts-grids' %>
	<%= stylesheet_link_tag 'styles' %>			
	<%= javascript_include_tag :defaults %>	
	<%= yield(:head) %>
</head>
<body>
  <script src="http://serveyourcountryfood.uservoice.com/pages/general/widgets/tab.js?alignment=left&amp;color=6644FF" type="text/javascript"></script>

<div id="doc2" class="yui-t2">

  <div id="hd" class="header">
		<%= link_to image_label_no_mouseover("center/serve_your_country_food_2.jpg"), home_path %>  
    <%#= image_tag("center/farm_tools.png") %> 
	  <%#= image_tag("hr_gray_875x25.png") %>
	</div> <!-- hd end -->

  <div id="bd">
    <div class="yui-g navigation">
     	<%= link_to image_label_no_mouseover("text/home_small.png"), home_path %> 
			<% Page.find(:all).each do |page| %>
				<%= image_tag("text/pipe_small.png", :alt => "|") %>
			  <%= link_to (page.label ? image_label_no_mouseover(page.label) : page.permalink), static_path(page.permalink) %>
			<% end %>
    </div> <!-- yui-g navigation end -->

    <div class="yui-g">
      <%= yield(:map) %>
    </div> <!-- yui-g --> 

    <div class="yui-g middle">
      <div id="flash_error" class="flash error"></div>
      <div id="flash_notice" class="flash notice"></div>
      <script type="text/javascript">
        Flash.transferFromCookies();
        Flash.writeDataTo('error', $('flash_error'));
        Flash.writeDataTo('notice', $('flash_notice'));
      </script>
	 		<div id="content"><%= yield %></div> 			
    </div>  <!-- yui-g -->   

    <div class="yui-g middle">
      <div id="content"><%= yield(:lower_half) %></div>      
    </div>  
    
	  <div id="ft"> 
			<div class="yui-g footer">
				<div class ='sidebar'>
					<%= yield(:footer ) || render(:partial => "/layouts/default_sidebar_content") %> 
				  <p>A project of <%= link_to "the greenhorns", 'http://thegreenhorns.net/' %></p>
				</div> <!-- sidebar end -->	    	
			</div>
		</div> <!-- ft end -->		
		
 	</div> <!-- bd end -->     
</div> <!-- doc2 end -->

  <!-- google analytics -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-472321-9");
    pageTracker._trackPageview();
  </script>
</body>
</html>
